# Java
target/
*.class
*.jar

# Maven
.mvn/

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# Environment
.env
.env.*
!.env.example

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Kubernetes
*.secret.yaml

# Node
node_modules/